
 <!-- Modal Trigger -->
  <button ng-click="triggerModal()" data-target="modal1" class="btn">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <p>Date: <input type="text" id="datepicker"></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>


<div class="row">
	<nav class="orange darken-4">
		<div class="nav-wrapper">
  			<a href="#" class="brand-logo center">Mon Calendrier</a>
		</div>
	</nav>
</div>
<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

