 <!-- Modal Trigger -->
  <button data-target="modal1" id="modal-trigger" class="btn">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content height-5">
      <div class="input-field col s12">
          <input id="first_name" type="text" class="validate" ng-model="title">
          <label for="first_name">Titre</label>
      </div>
      <div>
      <input type="text" id="datepicker" ng-model="date">
      <button ng-click="submit()">Envoyer</button>
    </div>
  </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


<div class="row">
	<nav class="orange darken-4">
		<div class="nav-wrapper">
  			<a href="#" class="brand-logo center">Mon Calendrier</a>
		</div>
	</nav>
</div>
<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

<script>
$('#modal-trigger').leanModal();
$('#datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
});
</script>